.add-doc-button {
    margin-top: 10px; 
    display: flex;
    width: 3rem;
    min-width: 3rem;
    padding: 0.938rem 0.938rem 0 0.938rem;
      width: 100%;
    
    }
    
    .add-doc-button:hover {
      background-color: hsla(0, 0%, 80%, 0.707); /* Example hover effect */
    }
    
    .add-doc-button i {
      margin-right: 5px;
    }

   

    .icon-div {
       
        background-repeat: no-repeat;
        background-position: center;
    }

    .info-div {
        width: 105px;
        color: #1C1C1C;
        font-size: 12px;
        font-family: Inter;
        font-weight: 600;
        line-height: 24px;
        word-wrap: break-word;
    }

    .doc-div, .bot-div {
        color: #72777A;
        font-size: 13px;
        font-family: DM Sans;
        font-weight: 400;
        line-height: 24px;
        word-wrap: break-word;
    }