<div class="chat-div">
    <button class="add-doc-button "
    style="background-color: #00bda700; color: #f6f2e3; border-radius: 25px; border: 2px solid #f6f2e3; padding: 6px 25px;" (click)="addChat()">
      <i class="fas fa-plus" ></i> Neww doc
    </button>
  
    <h2 class="font-circular-std-black-20" style="margin-bottom: 6px; margin-top:10px; margin-left: 6px;">Documents</h2>
  
    <div class="document-list" style="display: flex; flex-direction: column; align-items: center;">


       <!-- trodha auto -->
        <div style="display: flex; align-items: center; margin-bottom: 20px;">
            <div class="icon-div" style="margin-right: 20px; color: wheat;">  <i class="fas fa-file-alt"></i></div>
            <div style="margin-right: 15px;">
                <div class="info-div" style="color: wheat;">FEC 1</div>
                <div style="display: flex; align-items: center;">
                    <div class="doc-div" style="margin-right: 15px;">5 documents</div>
                    <div class="bot-div" style="margin-right: 15px;">0 bots</div>
                </div>
            </div>
            <div class="icon-div" style="color: wheat;"><i class="fas fa-ellipsis-v"></i></div>
        </div>
        <!-- trodha auto -->
    
    </div>
</div>