<!DOCTYPE html>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="message-list">
        <div class="message-list" *ngIf="conversationId === ':id'">
          <img src="assets/logo.png" alt="Logo" class="rounded-circle"  height="130" width="130" style="margin-left: 200px; margin-bottom: 20px;">

          <h1 class="title">Comment puis-je vous aider aujourd'hui ?</h1>
        
          <div class="card-container">
            <div class="card">
                <h2>Optimisation fiscale</h2>
                <ul>
                    <li>Pour réduire votre charge fiscale de manière légale</li>
                    <li>Pour maximiser vos déductions fiscales</li>
                </ul>
            </div>
        
            <div class="card">
                <h2>Gestion des finances personnelles</h2>
                <ul>
                    <li>Pour organiser vos revenus et dépenses</li>
                    <li>Pour planifier votre épargne et vos investissements</li>
                </ul>
            </div>
        
            <div class="card">
                <h2>Établissement de budgets</h2>
                <ul>
                    <li>Pour contrôler vos dépenses professionnelles et personnelles</li>
                    <li>Pour prévoir et gérer vos flux de trésorerie</li>
                </ul>
            </div>
        </div>
        
        </div>
        
        
        <ng-container *ngIf="conversationId !== ':id'">
          <div class="row">
            <div class="col text-right">
              <div *ngIf="fecName" class="fec-name" style="font-size: 20px;">{{ fecName }}</div>
            </div>
          </div>
        
          <div class="row">
            <div class="col">
              <div *ngFor="let message of messages" [@messageAnimation]="true" class="message-container">
                <div class="message avatar" [ngClass]="{ 'from': message.sender === 'bot', 'to': message.sender === 'user' }">
                  <img *ngIf="message.sender === 'user'" class="rounded-circle" [src]="currentUser?.userInfo?.avatar ? imgPrefix + currentUser?.userInfo?.avatar : 'assets/avatar.jpg'" alt="Avatar Utilisateur" height="40" width="40">
                  <img *ngIf="message.sender === 'bot'" class="rounded-circle" src="assets/logo.png" alt="Avatar Bot" height="90" width="90">
                  {{ message.text }}
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        
      </div>
      
      
      <div class="row message-input-row">
        <div class="col-md-6">
          <div class="input-group">
            <input [(ngModel)]="value" (keyup.enter)="sendMessage()" type="text" class="form-control" placeholder="Entrez votre message..." aria-label="Message" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button (click)="startRecording()" class="btn btn-outline-primary-icon" type="button">
                <i class="fa fa-microphone"></i> 
              </button>
              
              <button (click)="sendMessage()" class="btn btn-outline-primary" type="button" id="button-addon2">Envoyer</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
