<div  class="rania  d-flex justify-content-between ">
<div class="my-custom " >
  <div class="close-button" style="cursor: pointer;" (click)="closePopup()">
    <img src="./assets/circle.svg" alt="Close button">
  </div>
  <div>

    <button type="button" class="btn btn-outline-primary" id="import-fec-button" (click)="openFileUploadDialog()">
      <i class="fa fa-file-import"></i> Importer votre FEC
    </button>
  </div>
  <div class="modal-body">
    <div class="fec-selection">
      <h3>Sélectionnez un FEC</h3>
      <ul>
        <li *ngFor="let fec of fecs">
          <label>
            <input type="radio" name="selectedFec" [(ngModel)]="selectedFec" [value]="fec">
            {{ fec.name }}
          </label>
        </li>
      </ul>
    </div>
    <div class="discussion-button">
      <button type="button" class="btn btn-primary" [disabled]="!selectedFec" (click)="launchDiscussion()">Lancer votre discussion</button>
    </div>
    <div class="overlay" [class.active]="isPopupOpen">
      <div class="popup">
        <i class="fa fa-check-circle confirmation-icon"></i>
        <p class="confirmation-text">Un fichier avec le même nom existe déjà!. Voulez-vous le remplacer par le fichier suivant ?</p>
        <button class="btn btn-success confirm-button" (click)="confirmAction()">Confirmer</button>  </div>
    </div>
  </div>
  </div>
</div>
