.document-page {
    max-width: 1000px; 
    margin: 0 auto; 
    padding: 20px;
    overflow: hidden;
    min-width: 150vh;
    min-height: 100vh;
    margin-left: 18%;
    }
    .btn-outline-primary {
        background: #030640!;
        border-radius: 15px;
        background-color: #030640;
        color: #f6f2e3;
        border: 2px solid #030640;
        margin: 2px;
    }
    h2 {
        margin-bottom: 10px;
      }
      
      ul {
        list-style-type: none;
        padding: 0;
      }
      
      li {
        margin-bottom: 5px;
      }
      
      input[type="text"] {
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    
      .labels-list li {
        margin-right: 20px; /* Espace entre chaque libellé */
      }
      .labels-row {
        display: flex;
      }
      
      .labels-row h2 {
        margin-right: 20px; /* Pour ajouter un espace entre chaque titre */
      }
      .voir{
        background-color: #bcc9fdb0;
        font-style: italic;
        font-size: 18px;
        border-radius: 10px;
        border: navy;
        color: #2541b2; /* Couleur du texte du bouton */
      }
      
.dropdown-menu {
  position: relative;
  display: inline-block;
  margin-left: 80px;
  border-top: none;
  background-color: rgba(255, 255, 255, 0);

}

.dropdown-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: hsla(0, 0%, 80%, 0.822);
  border: 1px solid #ccc;
  border-radius: 4px;
  position: absolute;
  top: 25px; /* Ajustez la position verticale selon vos besoins */
  right: 0; /* Ajustez la position horizontale selon vos besoins */
  z-index: 1;
}

.dropdown-menu ul li {

  padding: 12px 16px;
  cursor: pointer;
}

.dropdown-menu ul li:hover {
  background-color: hsla(0, 0%, 80%, 0.707);
}
.delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 5px;
}

.delete-button:hover {
  color: red; /* Changement de couleur au survol */
}

.delete-button:focus {
  outline: none; /* Suppression de l'effet d'ombre au focus */
}
.recherche {
  padding: 8px 12px; 
  width: 100px;
  border: 1px solid #ccc; /* Ajoute une bordure pour délimiter les champs de recherche */
  border-radius: 4px; /* Arrondit les coins des champs de recherche */
  margin-right: 8px; /* Ajoute un peu d'espace entre les champs de recherche */
}

button[type="submit"] {
  padding: 8px 16px; /* Ajoute un peu d'espace intérieur au bouton */
  background-color: #19487a; /* Couleur de fond du bouton */
  color: #fff; /* Couleur du texte du bouton */
  border: none; /* Supprime la bordure du bouton */
  border-radius: 4px; /* Arrondit les coins du bouton */
  cursor: pointer; /* Change le curseur en une main lorsqu'il passe sur le bouton */
}

button[type="submit"]:hover {
  background-color: #0056b3; /* Couleur de fond du bouton au survol */
}
